/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */

body {
    background-color: rgb(236, 206, 245);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

header {
    height: 4vh;
    background-image: url(/img/IMG_8138.JPG);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color:rgb(88, 0, 0);
    font-family: 'Nixie One', cursive;
    font-size: 5rem;
    text-align: center;
    border: maroon dotted 4px;
}

p {
    color:rgb(43, 14, 77);
    font-family: 'Prata', serif;
    font-size: 1.6rem;
}

.bkg-pic, .footer-links {
    color:rgb(43, 14, 77);
    font-size: 1rem;
}

.bio-author {
    margin-bottom: 30px;
}

.bio-pic {
    max-width: 25%;
    margin-right: 40px;
    border: 4px dotted rgb(88, 0, 0);
    padding: 12px;
    border-radius: 20%;
    float: left;
}

hr {
    clear: both;
}

.my-faves {
    float: right;
    width: 60%;
    margin-left: -40px;
}