/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */

body {
    background-color: lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color:rgb(88, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
border: maroon dotted 4px;
}

p1 {
    color:rgb(47, 20, 78);
    font-family: 'Prata', serif;
    font-size: 10rem;
}