html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(54, 131, 156);
}

img {
    box-sizing: border-box;
    width: 350px;
    border: 100px solid maroon;
    padding: 20px;
}

p {
    color: rgb(255, 160, 92);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.7rem;
}

[class="box"] {
    border: 5px solid gray;
}