/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */

body {
    background-color: rgb(54, 131, 156);
    background-image: url(/img/coffee-bean-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#wrapper {
    width: 60vw;
    margin: 0 auto;
}

nav li{
    list-style-type: none;
    display:inline;
    padding-right: 15px;
}

thead, tr {
    background-color: rgba(255, 215, 106, 0.438);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.7rem;
    text-indent: 50%;
}

.hours {
    background-color: darkslategray;
    color: #fff;
}

tr:nth-last-child(1){
    text-align: center;
}

form,
main {
    width: 60%;
    background-color: rgba(160, 104, 52, 0.432);
    padding: 12px;
}

p {
    color: rgb(63, 0, 146);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.7rem;
    border: 4px solid darkred;
    padding: 6px;
}

legend {
    font-size: 1.5rem;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    padding-bottom: 7px;
    color: rgb(99, 92, 1);
}

label[for="firstName"],
label[for="lastName"],
label[for="email"],
label[for="phone"] {
    background-color: rgba(138, 103, 57, 0.849);
    width: 150px;
    text-align:center;
    display: inline-block;
    margin-bottom: 8px;
}

button {
    padding: 8px 4px;
    margin-left: 10%;
    background-color: rgb(51, 68, 21);
    color: white;
    font-variant-caps: all-small-caps;
    letter-spacing: 2px;
    font-size: .8rem;
    box-shadow: 1px 3px lightblue;
    cursor: pointer;
}

table {
    border: 4px dotted darkslateblue;
    padding: 5px 0;
    position: inherit;
}

fieldset {
    border: 4px dashed darkolivegreen;
}

h1,h2 {
    font-family: 'Limelight', cursive;
    color: rgb(49, 27, 12);
    text-align: center;
    font-size: 4rem;
}

.Lunch-Specials {
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(71, 10, 25);
    font-size: 1.7rem;
    width: 30%;
    text-align: center;
}