

/* this is a comment */
/* this is a new comment */

body {
    background-color: sandybrown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.icon-row-1 {
    height: 30vh;
    background-image: url(/img/sunflower-icon-web-design.png);
    background-repeat: repeat-x;
}

main-nav {
    font-variant-caps: all-petite-caps;
    font-size: 1.25rem;
}

header {
    height: 80vh;
    background-image: url(/img/sunflower-web-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: seashell;
}

main nav {
    font-variant: small-caps;
    font-size: 1.3rem;
}
