/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */

 body {
     background-color: sandybrown;
     font-family: 'Crafty Girls', cursive;
    }

li {
    list-style-type: none;
}

.icon-row-1 {
    height: 20vh;
    background-image: url(/img/sunflower-icon-web-design.png);
    background-repeat: repeat-x;
}

main-nav {
    font-variant-caps: all-small-caps;
    font-size: 1.8rem;
}

#main-nav a:link {
    color: rgb(14, 70, 14)
}

#main-nav a:visited {
    color: rgba(43, 185, 185, 0.664)
}

#main-nav a:hover {
    color:gold;
    background-color: firebrick;
}

header {
    height: 30vh;
    background-image: url(/img/sunflower-background-web-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1,h2 {
    font-size: 2rem;
    font-family: 'Holtwood One SC', serif;
    color:rgb(158, 95, 32)
}

main-nav {
    font-variant: small-caps;
    font-size: 2rem;
}