/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */
 
 /*google fonts

 font-family: 'Amatic SC', cursive;
font-family: 'Crafty Girls', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Limelight', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Spirax', cursive;
*/

body {
    background-color: rgb(243, 183, 243);
}

img {
    box-sizing: border-box;
    width: 350px;
    border: 30px solid goldenrod;
    padding: 20px;
}

h1, h2 {
    font-size: 2rem;
    font-family: 'Limelight', cursive;
    color: midnightblue;
}