/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */

 body {
     background-color: rgb(215, 253, 176);
     font-family: 'Comfortaa', cursive;
     color:rgb(126, 0, 109);
     font-size: 1.3rem;
 }

 h1 {
    font-family: 'Rampart One', cursive;
    color: rgb(60, 0, 128);
    font-variant: normal;
    text-align: center;
    font-size: 3.5rem;
 }

 h2 {
    font-family: 'Rampart One', cursive;
    color: rgb(60, 0, 128);
    font-variant: normal;
    text-align: center;
    font-size: 1.5rem;


 }
 
 h3 {
    font-family: 'Rampart One', cursive;
    color: rgb(60, 0, 128);
    font-variant: normal;
    text-align: center;
    font-size: 1.5rem;
 }

 p {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
 }

 ul1 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    flex-wrap: wrap;
 }

 .recipe-pic {
     max-width: 40%;
     margin-right: 4px;
     border: 4px dotted rgb(112, 69, 19);
     padding: 15px;
     border-radius: 40%;
     float: center;
 }

 .bio-intro {
    float: left;
    width: 50%;
    margin-left: 20px;
 }

 .eggs-pic {
     max-width: 17%;
     margin-left: 3px;
     border: 2px solid rgb(11, 41, 97);
     border-radius: 50%;
     float: right;
 }

 .flour-pic {
    max-width: 17%;
    margin-left: 3px;
    border: 2px solid rgb(11, 41, 97);
    border-radius: 50%;
    float: right;
}

.cocoa-pic {
    max-width: 17%;
    margin-left: 3px;
    border: 2px solid rgb(11, 41, 97);
    border-radius: 50%;
    float: right;
}