/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */

 body {
     background-color: rgb(215, 253, 176);
 }

 img {
     box-sizing: border-box;
     width: 350px;
     border: 20px dotted rgb(146, 95, 1);
     padding: 30px;
 }

 h1 {
    font-family: 'Rampart One', cursive;
    color: rgb(60, 0, 128);
    font-variant: normal;
    text-align: center;
    font-size: 3.5rem;
 }

 h2 {
    font-family: 'Rampart One', cursive;
    color: rgb(60, 0, 128);
    font-variant: normal;
    text-align: center;
    font-size: 1.5rem;
 }

 p {
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
 }