/* CSS reset */

html {
    box-sizing: inherit;
}

*,
*:before ,
*:after {
    box-sizing: inherit;
}

 /* end of CSS reset */
 
body {
    background-color: khaki;
}

img {
    box-sizing: border-box;
    width: 350px;
    border: 20px solid rgb(87, 1, 87);
    padding: 30px;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rebeccapurple;
    font-variant: small-caps;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem
}

p:empty {
    border: 1px solid rgb(87, 1, 87);
    height: 10px;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

h1,h2 {
    border: 4px dotted rgb(87, 1, 87);
    border-width: thin;
}